
<ion-header>

  <ion-navbar>
    <ion-title>Create Lead Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce> 
 
  <h5>Select file to upload data</h5>
  <div class="form-group">
         <input type="file" (change)="onFileSelect($event.target)"  id="myfile" accept=".csv">
    </div>

   
    <p>OR</p>
    <br>

  <table class="data-table">
		<thead>
		<tr>
			<th>Field</th>
			<th>Unique</th>	
      <th>Compulsory</th>
      <th>Mobile</th>
      <th></th>
		</tr>
		</thead>
    <tbody>
     
      
      <tr *ngFor="let header of headerRow">
        <td> <b>{{header}}</b></td>
        <td><input type="checkbox" ></td>
        <td><input type="checkbox" ></td>
        <td><input type="checkbox" ></td>
        <td></td>
      </tr>
       
       <tr *ngFor="let att of anArray; let idx = index"> 
       <td> <ion-input type="text" placeholder="Enter Field " [(ngModel)]="anArray[idx]"></ion-input></td>
       <td><input type="checkbox" ></td>
       <td><input type="checkbox" ></td>
       <td><input type="checkbox" ></td>
       <td> <ion-icon name="trash" class="deleteicon" (click)="remove(idx);"></ion-icon></td>

       </tr >
       
      </tbody>

     
    </table>

  <br>


  <!-- <ion-item *ngFor="let att of anArray; let idx = index">
   <ion-label color="primary">{{att.label}}{{idx+1}}</ion-label> 
    <ion-input type="text"  text-right  [(ngModel)]="anArray[idx].value"></ion-input>
</ion-item> -->



<!-- <ion-card *ngIf="data">
<ion-item *ngFor="let att of anArray;">
  <div class="card-title">{{att.value}}</div>
</ion-item>
</ion-card> -->

  <button ion-button  style="background-color: #bbbbbb;" (click)="Add()">Add More</button>
  <br>
   <button ion-button type="submit" color="secondary" (click)="upload()"> Upload & Exit </button> 
   <button ion-button  color="success" (click)="save1()"> Create Lead </button> 
    
  

</ion-content>
